.uni{

    margin-top: 70px; /* Adjust this value based on your preference */
    color: rgb(100, 153, 167);
    margin-left: 60px;
    

}

.end{

    margin-top: 40px; /* Adjust this value based on your preference */
    color: rgb(7, 4, 24);



}